.container {
  max-width: 1200px;
  margin: 200px auto;
  text-align: center;
}

body {
  font-family: "Sono", sans-serif;
}

.dati {
  background-color: #d3f9d3;
  border-radius: 70px;
  padding: 80px 0px;
}

.imgTreno {
  font-size: 65px;
  color: #157615;
}

h3 {
  padding-top: 30px;
}

#totale {
  color: #157615;
}

h3 i {
  color: #b90101;
}
